.product-details {
  margin-top: 20px;
}

.product-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #0056b3;
}

.product-item {
  margin-bottom: 20px;
}

.product-details img {
  max-width: 100%;
  height: auto;
}

.product-details ul {
  list-style: none;
  padding: 0;
}

.product-details li {
  margin-bottom: 5px;
}

/* Highlighting */
.product-details li.is-suggested {
  background-color: yellow;
}